* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: #281b32;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
 
}

.contenedor-titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 50px 0px;
    color: white;
    font-size: 40px;


}


